<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>events</title>
</head>
<body>
    <h1>evnt 목록</h1>
    <table>
        <tr>
            <th>이름</th>
            <th>참가 인원</th>
            <th>시작</th>
            <th>종료</th>
        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${event.name}">이벤트 이름</td>
            <td th:text="${event.limitOfEnrollment}">참가인원</td>
            <td th:text="${event.startDate}">시작일</td>
            <td th:text="${event.endDate}">종료</td>
        </tr>
    </table>
</body>
</html>